@import url('foundation.min.css');

.form-error {
  display: block;
}

.preloader {
	margin: 65px auto 0;
	font-size: 13px;
	transform: translateZ(0);
}

.preloader:before,
.preloader:after {
	content: '';
	position: absolute;
	top: 0;
}

.preloader:before,
.preloader:after,
.preloader {
	border-radius: 50%;
	width: 2em;
	height: 2em;
	animation: animation 1.7s infinite ease-in-out;
}

.preloader {
	animation-delay: -0.16s;
}

.preloader:before {
	left: -3.5em;
	animation-delay: -0.32s;
}

.preloader:after {
	left: 3.5em;
}

@keyframes animation {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em #1779ba;
	}
	40% {
		box-shadow: 0 2.5em 0 0 #1779ba;
	}
}

#mainContainer {
  margin: 11px 0;
}

#field {
  background: url("../images/field.png") no-repeat center;
  height: 389px;
  background-size: 95%;
}

.buttonsMenu a {
  display: block;
}

.buttonsMenu {
  display: block;
}

#rightPanel {
}

.cell {
  display: block;
}

h1#clubName {
  padding: 0 6%;
}

#playersOnField {
  margin: 10px 0;
  text-align: center;
  height: 24px;
}

#playersForm {
  padding: 0 9%;
}

#players {
  height: auto;
  background-image: none;
}

.leftHr {
  width: 88%;
}

#playerDetails {
  padding: 0 9%;
}

#playerName {
  text-align: center;
}

#ekgGraph {
  padding: 0 6.5%;
  height: 148px;
  width: 100%;
}

#rightPlayersDetails {
  text-align: right;
}

#fieldsForm {
  width: 100%;
  padding: 10px 6.5% 0;
}

#fields {
  width: 59%;
  margin: 0;
}

#fieldsForm .button {
  margin: 0;
}

#backgroundField {
  margin : 0 0 20px;
  background: url("../images/field.png") no-repeat center;
  height: 398px;
  background-size: 95%;
}

#backgroundField input[type='text'] {
  width: 48%;
  display: inline-block;
  margin: 0;
}

#lu {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 260px;
}

#ld {
  position: absolute;
  bottom: 7px;
  left: 5px;
  width: 260px;
}

#ru {
  position: absolute;
  top: 5px;
  right: -2px;
  width: 260px;
}

#rd {
  position: absolute;
  bottom: 7px;
  right: -2px;
  width: 260px;
}

#containerField {
  position: relative;
  width: 611px;
  height: 400px;
  left: 46px;
  top: 0;
}

#latLongMessage {
  text-align: center;
}

.withoutMargin {
  margin: 0;
}
